{% extends "base.html" %}
{% block content %}
<div class="shadow-wrap">
    <div class="form-wrap">
        <h2 style="text-align: center;">Dashboard</h2>
        <p style="text-align: center;">Hi, {{ user.username }}!!</p>
        <div style="margin-top: 10px;">
            <a href="{% url 'base:profile' %}">Profile</a>
        </div>
        <div style="margin-top: 10px;">
            <a href="{% url 'base:change_password' %}">Change Password</a>
        </div>
        <div style="margin-top: 10px;">
            <a href="{% url 'base:logout' %}">logout</a>
        </div>
    </div>
</div>
{% endblock content %}


